@font-face {
  font-family: "DM-Sans-Light";
  src: url("./DMSans-Regular.ttf");
  font-style: thin;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "DM-Sans";
  src: url("./DMSans-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "DM-Sans-Bold";
  src: url("./DMSans-Bold.ttf");
  font-style: medium;
  font-weight: 700;
  font-display: swap;
}
