@import url("../../public/fonts/DM-Sans/DmSans.css");

.card {
  max-width: 473px;
}
.cardBackground {
  background: linear-gradient(102.86deg, #cac85d -21.17%, #ff0fbc 91.6%);
  height: 115px;
  position: absolute;
  width: 100%;
  z-index: 0;
}
.userImage {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;
}
.image {
  width: 173px;
  height: 173px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.title {
  font-family: DM-Sans !important;
  font-size: 32px !important;
  font-weight: 500 !important;
  line-height: 42px !important;
  letter-spacing: 0em;
  text-align: center;
}
.subTitle {
  font-family: DM-Sans !important;
  font-size: 22px !important;
  font-weight: 700 !important;
  line-height: 29px !important;
  letter-spacing: 0em;
  text-align: center;
}
.description {
  font-family: DM-Sans !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 29px !important;
  letter-spacing: 0em;
  text-align: center;
}
.margin10 {
  margin: 10px 0;
}