@import url("../../public/fonts/DM-Sans/DmSans.css");

/* Other CSS */
.cardWrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 15px 48px;
  width: 100%;
  position: relative;
  top: 50%;
  transform: translate(0, 20%);
}

.cardContentWrapper {
  padding: 20px 23px;
  text-align: center;
}

.cardTitle {
  font-family: "DM-Sans";
  font-size: 18px;
  line-height: 23.44px;
  color: #fff;
  text-transform: uppercase;
}

.cardValue {
  background: -webkit-linear-gradient(
    102.86deg,
    #cac85d -21.17%,
    #ff0fbc 91.6%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "DM-Sans" !important;
  font-size: 40px;
  line-height: 52.08px;
}

.ffContainer {
  height: 100%;
  width: auto;
  margin-top: 0;
  position: relative;
}

/* Landing page */
.contentContainerFull {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url("../../public/images/landing-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 50px;
  z-index: 1;
}

.landingTextWrapper {
  position: relative;
  bottom: 50%;
  right: 45%;
  transform: translate(60%, 60%);
  padding: 15px;
}

.marginBottom20 {
  margin-bottom: 20px;
}

.marginLeft10 {
  margin-left: -10px;
}

.heading {
  display: flex;
  font-family: "DM-Sans-Bold" !important;
  align-items: center;
  font-size: 75px !important;
}

.lineHeight100 {
  line-height: 100px !important;
}

.landingDescription {
  width: 500px;
}

.mainDescription {
  font-size: 17px !important;
  line-height: 27px !important;
  font-family: "DM-Sans-Light" !important;
  text-transform: capitalize !important;
}

/* Investing Part */
.contentContainerFullTwo {
  margin-top: 100px;
  padding: 20px 50px;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.investingHeading {
  display: flex;
  font-family: "DM-Sans-Bold" !important;
  align-items: center;
  font-size: 70px !important;
}

.TabWrapper {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
}

.investingWrapper {
  margin: 100px auto 0 !important;
  justify-content: center;
}

.contentContainerFull > .investingWrapper {
  margin: 0 !important;
}

.groupImages {
  position: relative;
}

.investingImage {
  width: 900px;
  position: absolute;
  top: 0;
  left: 10%;
  -webkit-transform: translate(-35%, -20%);
  transform: translate(-35%, -25%);
}

.coinImage {
  width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 25%);
  transform: translate(-50%, 21%);
}

.lineHeight70 {
  line-height: 70px;
}

.investDescription {
  color: #d0d0d0;
  font-family: "DM-Sans-Light" !important;
  font-size: 24px !important;
  line-height: 38.4px !important;
  text-transform: capitalize !important;
}

/* Meet With Our Team */
.contentContainerFullThree {
  padding: 20px 50px;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.meetWrapper {
  margin-top: 50px;
}

.meetTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.zenaCardWrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}

/* Get Ready and Start */
.contentContainerFullFourth {
  margin-top: 100px;
  padding: 20px 50px;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.gridWrapper {
  margin: auto;
}

.bigCardWrapper {
  display: flex;
  padding: 30px 50px;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.getReadyTitle {
  font-family: DM Sans !important;
  font-size: 73px !important;
  font-weight: 700 !important;
  line-height: 88px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
  text-transform: capitalize;
}

.getReady {
  margin: 0 5px;
  background: -webkit-linear-gradient(
    102.86deg,
    #cac85d -21.17%,
    #ff0fbc 91.6%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.getReadyDescription {
  font-family: DM Sans !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  line-height: 32px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
  color: #b3b3b4;
  width: 600px;
  text-transform: capitalize;
}

.cardTitle {
  flex: 1 1 auto;
}

.buttonWrapper {
  flex: 1 1 auto;
  text-align: right;
}

/* Footer */
.contentContainerFullFive {
  margin-top: 100px;
  text-align: center;
  padding: 25px;
  overflow: hidden;
}

.zenaImageLogo {
  width: 90%;
  max-width: 574px;
}

.socialLinkWrapper {
  display: flex;
  justify-content: center;
  gap: 3em;
  margin-top: 20px;
}

.footerDescription {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.alignItemCenter {
  text-align: center !important;
}

/* Last Background Image */
.lastBackgroundImageWrapper {
  background-image: url("/images/pink-dote-image.png");
  width: 100%;
  height: 310px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 70px;
}

@media screen and (min-width: 1420px) {
  .contentContainerFullTwo {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 1420px) {
  .investingWrapper {
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .groupImages {
    height: 450px;
  }

  .investingImage {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .coinImage {
    top: 0;
    left: 50%;
    transform: translate(-36%, 21%);
  }
  .gridImageWrapper {
    max-width: 100% !important;
  }
  .investDescription {
    width: 600px;
  }
}

@media screen and (max-width: 1200px) {
  .cardWrapper {
    transform: translate(0, 90%);
    padding: 15px 0;
  }
  .cardTitle {
    font-size: 13px;
  }
  .cardValue {
    font-size: 25px;
    line-height: 26px;
  }
  .landingTextWrapper {
    transform: translate(50%, 90%);
  }
  .marginBottom20 {
    margin-bottom: 10px;
  }
  .marginBottom20 > .heading {
    font-size: 40px !important;
  }
  .lineHeight100 {
    line-height: 60px !important;
  }
  .mainDescription {
    font-size: 14px !important;
  }
  .contentContainerFull > .investingWrapper {
    margin: 0 auto 0 !important;
  }
  .contentContainerFull > .cardWrapper {
    gap: 10px;
  }
  .bigCardWrapper {
    padding: 15px 30px;
  }
  .getReadyTitle {
    font-size: 40px !important;
    line-height: 60px !important;
  }
  .getReadyDescription {
    font-size: 15px !important;
    width: calc(500px - 100px);
    line-height: 25px !important;
  }
}

@media screen and (max-width: 860px) {
  .cardWrapper {
    transform: translate(0, 20%);
    padding: 15px 0;
  }
}

@media screen and (max-width: 768px) {
  .cardWrapper {
    transform: translate(0, 20%);
  }
  .contentContainerFull {
    background-position: left;
  }
}

@media screen and (max-width: 767px) {
  .investingHeading {
    font-size: 50px !important;
  }
  .investDescription {
    font-size: 20px !important;
    line-height: 30px !important;
    width: 100%;
  }
}

@media screen and (max-width: 630px) {
  .contentContainerFull {
    padding: 0px 0;
    background-size: cover;
    width: 100%;
  }
  .landingTextWrapper {
    transform: translate(45%, 90%);
  }
  .landingDescription {
    width: auto;
  }
  .groupImages {
    height: 290px;
  }

  .investingWrapper {
    margin: 50px auto 0 !important;
  }

  .investingImage {
    width: 500px;
  }

  .coinImage {
    width: 180px;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
  }

  .meetTitle {
    margin: 20px 0;
    gap: 7px;
  }

  .meetTitle > .heading {
    font-size: 40px !important;
  }
}

@media screen and (max-width: 560px) {
  /* for all the section's padding */
  .contentContainerFullTwo,
  .contentContainerFullThree,
  .contentContainerFullFourth,
  .contentContainerFullFive {
    padding: 20px 20px;
    margin-top: 50px;
  }

  .cardWrapper {
    position: static;
    margin-top: 100px;
  }

  .cardContentWrapper {
    padding: 16px 16px;
  }

  .cardTitle {
    font-size: 10px;
  }
  .cardValue {
    font-size: 16px;
    line-height: 20px;
  }

  .investingHeading {
    font-size: 30px !important;
    justify-content: center;
  }

  .investDescription {
    font-size: 15px !important;
    line-height: 25px !important;
  }

  .startStakingButton {
    text-align: center;
  }

  .meetWrapper {
    margin-top: 0;
  }

  .cardBackground {
    height: 81px;
  }

  .getReadyTitle {
    font-size: 6vw !important;
  }

  .getReadyDescription {
    font-size: 3vw !important;
    width: auto;
  }

  .socialLinkWrapper {
    gap: 1em;
  }

  .socialLinkWrapper > img {
    width: calc(55px - 10px);
    height: calc(55px - 10px);
  }
}
