@import url("../../public/fonts/DM-Sans/DmSans.css");

/* Other CSS */
.cardWrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  padding: 15px 48px;
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
}

.cardContentWrapper {
  padding: 20px 23px;
  min-width: 358px;
  text-align: center;
}

.cardTitle {
  font-family: "DM-Sans";
  font-size: 18px;
  line-height: 23.44px;
  color: #fff;
}

.cardValue {
  background: -webkit-linear-gradient(
    102.86deg,
    #cac85d -21.17%,
    #ff0fbc 91.6%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "DM-Sans" !important;
  font-size: 40px;
  line-height: 52.08px;
}

.ffContainer {
  height: 100%;
  width: auto;
  margin-top: 0px;
  position: relative;
}

/* Landing page */
.contentContainerFull {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url("../../public/images/landing-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 50px;
  z-index: 1;
}

.landingTextWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-90%, -80%);
  padding: 15px;
}

.marginBottom20 {
  margin-bottom: 20px;
}

.heading {
  display: flex;
  font-family: "DM-Sans-Bold" !important;
  align-items: center;
  font-size: 75px !important;
}

.lineHeight100 {
  line-height: 100px !important;
}

.landingDescription {
  width: 500px;
}

.mainDescription {
  font-size: 17px !important;
  line-height: 27px !important;
  font-family: "DM-Sans-Light" !important;
}

/* Investing Part */
.contentContainerFullTwo {
  margin-top: 200px;
  padding: 20px 50px;
  height: auto;
  width: 100%;
}

.investingHeading {
  display: flex;
  font-family: "DM-Sans-Bold" !important;
  align-items: center;
  font-size: 70px !important;
}

.TabWrapper {
  display: flex;
  justify-content: center;
}

.investingWrapper {
  width: calc(100% - 150px) !important;
  margin: 100px auto 0 !important;
  justify-content: center;
}

.groupImages {
  position: relative;
}

.investingImage {
  width: 900px;
  position: absolute;
  top: 0;
  left: 10%;
  -webkit-transform: translate(-20%, -20%);
  transform: translate(-50%, -20%);
}

.coinImage {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 25%);
  transform: translate(-67%, 15%);
}

.lineHeight70 {
  line-height: 70px;
}

.investDescription {
  color: #d0d0d0;
  font-family: "DM-Sans-Light" !important;
  font-size: 24px !important;
  line-height: 38.4px !important;
}

/* Meet With Our Team */
.contentContainerFullThree {
  padding: 20px 50px;
  height: auto;
  width: 100%;
}

.meetWrapper {
  margin-top: 50px;
}

.meetTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.zenaCardWrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}

/* Get Ready and Start */
.contentContainerFullFourth {
  margin-top: 100px;
  padding: 20px 50px;
  height: auto;
  width: 100%;
}

.gridWrapper {
  width: calc(100% - 300px) !important;
  margin: auto;
}

.bigCardWrapper {
  display: flex;
  padding: 30px 50px;
  align-items: center;
}

.getReadyTitle {
  font-family: DM Sans !important;
  font-size: 73px !important;
  font-weight: 700 !important;
  line-height: 88px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
}

.getReady {
  margin: 0 5px;
  background: -webkit-linear-gradient(
    102.86deg,
    #cac85d -21.17%,
    #ff0fbc 91.6%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.getReadyDescription {
  font-family: DM Sans !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  line-height: 32px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
  color: #b3b3b4;
  width: 600px;
}

.cardTitle {
  flex: 1 1 auto;
}

.buttonWrapper {
  flex: 1 1 auto;
}
