.buttonEnter {
  min-width: 156px !important;
  border-radius: 10px !important;
  padding: 15px 29px 15px 29px !important;
  background: linear-gradient(102.86deg, #CAC85D -21.17%, #FF0FBC 91.6%) !important;
}
